PORT=8080
HOST=127.0.0.1
NAS_NAME=nas.local
VAULT_USER=usuario
VAULT_PASS=change-this-password
SESSION_TTL_HOURS=8
LOGIN_MAX_ATTEMPTS=8
TEXT_LIMIT_BYTES=1048576
STORAGE_ROOTS=public:./data/public,private:./data/private
